<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
    <%= yield :html_head %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>
    
  </head>
  <body>
    <%= cms_toolbar %>
    <div class="container-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "South Oxhey Baptist Church", home_path, :class => "brand" %>
      	<%= render_menu :from_top=>0, :depth=>2, :show_all_siblings=>true %>
  		</div>
    </div>
      <h1><%= page_title %></h1>
      <%= container :main %>
    </div>
  </body>
</html>
