<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width">
    <title><%= page_title %></title>
    <%= yield :html_head %>
    <% if current_page.section.name == "My Site" %>
      <%= stylesheet_link_tag  "application", :media => "all" %>
    <% else %>
     <%= stylesheet_link_tag current_page.section.name.downcase.gsub(/\W/,'') , :media => "all" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    
  </head>
  <body>
    <%= cms_toolbar %>
    <div class="container-fluid">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to "South Oxhey Baptist Church", "/", :class => "brand" %>
        	  <div class="nav-collapse">
              <%= render_menu :from_top=>0, :depth=>2, :show_all_siblings=>true %>
            </div>
          </div>
    		</div>
      </div>
      <div class="row-fluid">
        <div class="span12 hero-unit">
          <div class="row">
            <div class="span3">
              <p>Love God</p>
              <p>Love Each Other</p>
              <p>Love Lost</p>
              <p>
                <a class="btn btn-primary btn-large">
                  Learn more
                </a>
              </p>
            </div>
            <div class="span9">
              <%= container :splash_image %><br>
              <%= container :splash_info %>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3 nav_grid_element nav_grid_padded sobc-blue">
          <%= link_to "Sundays", "/sundays" %>
        </div>
        <div class="span3 nav_grid_element">
          <%= image_tag "image1.png" %>
        </div>
        <div class="span3 nav_grid_element nav_grid_padded sobc-green">
           <%= link_to "What's On", "/whats-on" %>
        </div>
        <div class="span3 nav_grid_element">
          <%= image_tag "image2.png", :class=> "nav_grid_image" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3 nav_grid_element">
          <%= image_tag "image1.png" %>
        </div>
        <div class="span3 nav_grid_element nav_grid_padded sobc-yellow">
           <%= link_to "Vison and Values", "/vision-and-values" %>
        </div>
        <div class="span3 nav_grid_element">
          <%= image_tag "image2.png" %>
        </div>
        <div class="span3 nav_grid_element nav_grid_padded sobc-red">
           <%= link_to "About Us", "/about-us" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span3 padded">
          <div class="well sidebar-nav">
            <h1>Side</h1>
            <a id="email_address">vasb@fbhgubkurloncgvfgpuhepu.bet.hx</a>
            <%= container :side %>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="span9 padded">
          <h1><%= page_title %></h1>
          <%= container :main %>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </body>
</html>
